
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav class="navbar navbar-light  bg-light fixed-top">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i><b>Yang's Gallery</b></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
             <h5 class="offcanvas-title " id="offcanvasNavbarLabel">Art Gallery</h5>
             <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://localhost:56333/Home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:56333/Gallery.html">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:56333/About%20Us.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:56333/Contact%20Us.html">Contact</a>
                </li>
            </ul>
         </div>
     </div>
</nav>
