
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<h1 class="text-center">About Us</h1>
<div class="container mt-5">
        <h2 style="text-align: center"><b>Welcome to Yang's Vallery</b></h2>
        <div class="mx-5">
            <p class="font-weight-bold mx-5 mt-5" style="font-size: 20px; text-indent: 2em">
                Browsing our gallery is meant to feel like a leisurely afternoon visiting local galleries - from the comfort of your home. Yang's
                Gallery has developed a loyal folllowing of art collectors, artists, and interior designers in all 50 states and over 50 countries.
            </p>
            <p class="font-weight-bold mx-5 mt-5" style="font-size: 20px; text-indent: 2em">
                The Internet has seemingly endless outlets for art - Yang's Gallery is unique because we select each artist and every piece we exhibit, and
                all artwork is exclusive to our gallery.
            </p>
        </div>
    </div>

@await Html.PartialAsync("_Footer")